.cart {
  padding-top: 10px;
  cursor: pointer;
}
.cart-num-add {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 40px;
  right: 200px;
  background: #121212;
  border: 2px solid #ffffff;
  border-radius: 50px;
  font-size: 10px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
}
