.cart {
  padding-top: 15px;
  cursor: pointer;
}
.cart-num-add {
  position: relative;
  width: 15px;
  height: 15px;
  bottom: 35px;
  left: 10px;
  background: #121212;
  border: 3px solid #ffffff;
  border-radius: 50%;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.cart-image {
  width: 25px;
  height: 25px;
  padding-top: 10px;
}
.hide {
  display: none;
}
