.cart {
  height: 20px;
  width: 20px;
  position: relative;
  padding-top: 15px;
  cursor: pointer;
}

.cart-num-add {
  position: relative;
  width: 15px;
  height: 15px;
  bottom: 15px;
  right: 0px;
  background: #121212;
  border: 2px solid #ffffff;
  border-radius: 50%;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.cart-image {
  position: absolute;
  bottom: 5px;
}

.hide {
  display: none;
}
