.review-form {
  display: flex;
  margin: auto;
  padding: 0 50px;
  flex-direction: column;
  position: fixed;
  border: 1px solid black;
  border-radius: 20px;
  top: 0;
  bottom: 0;
  right: 100px;
  left: 100px;
  width: 30%;
  height: 530px;
  background: #ffffff;
  z-index: 55;
}

.hidden {
  display: none;
}

.form {
  margin-bottom: 30px;
}
.error {
  color: rgb(201, 31, 31);
  font-size: 12px;
  height: 0px;
  padding-left: 5px;
}

.form-title {
  margin-top: 40px;
  text-align: center;
  h2 {
    font-size: 16px;
    font-weight: bold;
    text-transform: none;
  }
}

.form-raiting {
  text-align: center;
  img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
}

input {
  border-radius: 10px;
  height: 25px;
  width: 100%;
  padding-left: 10px;
}

textarea {
  border-radius: 10px;
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
}
.form-button {
  text-align: center;
  button {
    background: #2e2b2b;
    color: #ffffff;
    width: 150px;
    height: 50px;
  }
}

.wrapper-form {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  opacity: 1;
  height: 100%;
}
