.clothes-carts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 255px;
  flex-wrap: wrap;
  margin: 0 auto;
  a {
    text-decoration: none;
  }
}

.clothes-img {
  position: relative;
  cursor: pointer;
  img {
    width: 100%;
  }
}
.discount {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 53px;
  height: 31px;
  top: 0;
  left: 0;
  font-family: Spartan;
  background: #e91e63;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 13px;
  text-align: center;
  color: #ffffff;
}
.clothes-footer {
  display: flex;
  justify-content: space-between;
}

.clothes-name {
  margin-top: 16px;
  margin-bottom: 12px;
  font-family: Spartan;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #121212;
  opacity: 0.6;
}

.clothes-sale {
  display: inline;
  position: relative;
  right: 30px;
  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-decoration-line: line-through;
  color: #121212;
  opacity: 0.4;
}
.clothes-price {
  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #121212;
}
