.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 37px 85px;
  img {
    max-height: 30px;
    max-width: 30px;
  }
}

.filter-left {
  display: flex;
  align-items: center;
  cursor: pointer;
  span {
    padding-top: 5px;
    padding-left: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
    opacity: 0.6;
  }
  img {
    cursor: pointer;
  }
}

.filter-right {
  img {
    padding-left: 15px;
  }
}

.filter-list {
  display: none;
}

.active {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  margin: 0 85px;
  background-color: #f8f8f8;
}

.hidden {
  overflow: hidden;
  overflow-y: scroll;
  width: 150px;
  height: 210px;
}

.color-item {
  margin-left: 85px;
  margin-top: 20px;
  span {
    &:first-child {
      padding-right: 20px;
      font-family: 'Spartan';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
      font-weight: 600;
      color: #121212;
    }
    &:not(:first-child) {
      padding-right: 20px;
      font-family: 'Spartan';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #121212;
      opacity: 0.6;
    }
  }
}
