.category {
  width: 100%;
}

.banner {
  display: flex;
  flex-direction: row;
  gap: 30px;
  @media screen and (max-width: 1264px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.slider {
  max-width: 540px;
  max-height: 490px;
}

.banner-slider {
  position: relative;
  width: 100%;
  height: 490px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 24px;
}

.banner-list {
  position: absolute;
  width: 540px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-info {
  position: absolute;
  width: 289px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #ffffff;
  border-radius: 4px;
  cursor: pointer;

  span {
    padding-top: 24px;
    font-family: Spartan;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
    opacity: 0.4;
  }

  p {
    margin-top: 14px;
    font-family: Spartan;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
  }
}

.category-list {
  position: relative;
  display: grid;
  grid-template-rows: 200px 260px;
  grid-template-columns: 255px 255px;
  grid-gap: 30px;
  margin-left: 30px;
  @media screen and(max-width: 996px) {
    margin-top: 16px;
  }
  @media screen and (max-width: 600px) {
    display: none;
  }
}
.accessories-img {
  display: flex;
  align-items: center;
  z-index: 1;

  span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 166px;
    height: 48px;
    left: 187px;
    font-family: Spartan;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
    background: #ffffff;
    border-radius: 4px;
    z-index: 2;
    cursor: pointer;
  }
}
.women-img {
  display: flex;
  align-items: center;
  z-index: 1;

  span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 118px;
    height: 48px;
    left: 69px;
    font-family: Spartan;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
    background: #ffffff;
    border-radius: 4px;
    z-index: 2;
    cursor: pointer;
  }
}
.men-img {
  display: flex;
  align-items: center;
  z-index: 1;

  span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 118px;
    height: 48px;
    left: 354px;
    font-family: Spartan;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
    background: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    z-index: 2;
  }
}

.swiper {
  .swiper-button-prev,
  .swiper-button-next {
    background: rgb(255, 255, 255);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    color: black;
  }
  .swiper-button-prev::after {
    font-size: 15px;
  }
  .swiper-button-next::after {
    font-size: 15px;
  }
}
