.products-footer-title {
  span {
    margin-left: 20px;
    font-family: Spartan;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
  }
}
.relate-btn {
  height: 45px;
  img {
    margin-right: 16px;
    background: #ffffff;
    opacity: 0.4;
    &:hover {
      border-radius: 30px;
      border: 1px solid black;
      opacity: 1;
    }
  }
}

.relate-prod-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  margin: 48px 4px 96px 48px;
}

.relate-prev,
.relate-next {
  cursor: pointer;
}
