.header-bar {
  margin: 0 auto;
  display: flex;
  height: 24px;
  padding: 0 85px;
  background: #121212;
  img {
    margin-right: 10px;
  }
  span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 12px;
    color: #ffffff;
    opacity: 0.8;
  }
}

.phone {
  display: flex;
  align-items: center;
  margin-right: 32px;
}

.location {
  display: flex;
  align-items: center;
  margin-right: 52px;
}

.time {
  display: flex;
  align-items: center;
}

.header-social {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  img {
    display: flex;
    margin-right: 12px;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  height: 66px;
  margin: 0 auto;
  border-bottom: 2px solid #f8f8f8;
  background-color: #fff;
}

.menu {
  display: flex;
  flex: 1;
  align-items: center;

  a {
    text-decoration: none;
    font-family: Spartan;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #121212;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 32px;
    }

    &:last-child {
      margin-right: 131px;
    }

    span {
      white-space: nowrap;
    }
  }
  @media (max-width: 1200px) {
    a {
      &:last-child {
        margin-right: 31px;
      }
    }
  }
}

@media screen and (max-width: 996px) {
  .menu {
    display: none;
    transform: translateX(-100%);
    z-index: 2;

    a {
      margin: 26px 0 26px 10px;
      font-size: 18px;
      color: #000;
      font-weight: 600;
    }
  }
  .menu.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    opacity: 0.8;
    transform: translateX(0);
    transition: all 0.2s;
  }
}
.logo {
  width: 314px;
  a {
    cursor: pointer;
    img {
      width: 150px;
      height: 32px;
      padding: 15px 79px 19px 85px;
    }
  }
  @media (max-width: 1200px) {
    a {
      img {
        padding: 15px;
      }
    }
  }
}

.user-menu {
  display: flex;
  align-items: center;
  margin-right: 85px;

  img {
    &:not(:last-child) {
      width: 18px;
      height: 18px;
      margin-right: 30px;
    }
    &:last-child {
      width: 24px;
      margin-bottom: 7px;
    }
    @media screen and (max-width: 600px) {
      display: none;
    }
  }
  .burger-btn {
    display: none;
    width: 20px;
    height: 20px;
    position: relative;
    transition: all 1s;
    cursor: pointer;
    z-index: 3;
  }
  .burger-btn:before {
    content: '';
    position: absolute;
    top: 1px;
    width: 20px;
    height: 2px;
    background-color: black;
  }
  .burger-btn span {
    position: absolute;
    top: 10px;
    width: 20px;
    height: 2px;
    background-color: black;
    transition: all 0.2s;
  }

  .burger-btn:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 20px;
    height: 2px;
    background-color: black;
    transition: all 0.2s;
  }

  @media (max-width: 996px) {
    .burger-btn {
      display: flex;
    }
  }

  .burger-btn.close > span {
    display: none;
  }

  .burger-btn.close::before {
    content: '';
    transform: rotate(40deg);
    top: 12px;
    right: 6px;
    transition: all 0.2s;
  }

  .burger-btn.close::after {
    content: '';
    transform: rotate(-40deg);
    bottom: 6px;
    right: 6px;
    transition: all 0.2s;
  }
}

@media screen and (max-width: 600px) {
  .header-bar {
    display: none;
  }
}
