.troussers {
  margin: 30px auto;
  display: flex;
}

.trousers-little {
  width: 100px;
  margin-left: 25px;
}
.trousers-img > .swiper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80px;
  height: 515px;
  margin-right: 30px;

  img {
    margin: 0px 16px 8px 0;
    max-width: 100%;
  }
}

.trousers-next {
  margin-left: 6px;
  cursor: pointer;
}

.trousers-big {
  display: flex;
  align-items: flex-start;
  max-height: 520px;
  max-width: 450px;
  margin-left: 40px;
}

.main-img {
  width: 450px;
  max-height: 560px;
}
.prev {
  position: relative;
  left: 55px;
  top: 255px;
}

.next {
  position: relative;
  right: 55px;
  top: 255px;
}

@media screen and(max-width: 660px) {
  .trousers-big {
    img {
      max-width: 350px;
    }
  }
  .trousers-little {
    display: none;
  }
  .swiper {
    .swiper-button-next {
      right: 115px;
    }
  }
  .troussers {
    margin: 60px;
  }
}

.swiper {
  .swiper-button-prev,
  .swiper-button-next {
    background: rgb(255, 255, 255);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    color: black;
  }
  .swiper-button-prev::after {
    font-size: 15px;
  }
  .swiper-button-next::after {
    font-size: 15px;
  }
}
.swiper-slide {
  opacity: 0.6;
}

.swiper-slide-thumb-active {
  opacity: 1;
}
.swiper-horizontal {
  opacity: 1;
}
