@font-face {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/spartan-v10-latin-regular.woff') format('woff2'),
    url('./fonts/spartan-v10-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('./fonts/inter-v7-latin-regular.woff2') format('woff2'),
    url('./fonts/inter-v7-latin-regular.woff') format('woff');
}

body {
  margin: 0;
  font-family: Spartan, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
