.benefits {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #f8f8f8;
}

@media screen and(max-width: 996px) {
  .benefits {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}

.benefits-item {
  display: flex;
  margin-top: 20px;
  .benefits-item-img {
    padding-right: 8px;
  }

  .benefits-item-cart {
    .benefits-item-title {
      font-family: Spartan;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 13px;
      display: flex;
      align-items: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: #121212;
    }
    .benefits-item-text {
      font-family: Spartan;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 22px;
      color: #121212;
      opacity: 0.9;
    }
  }
}
