.payment-form {
  max-height: 90vh;
}
.payment-info {
  height: 55vh;
  overflow-y: auto;
}

.payment-info-main {
  margin: 0 20px 20px 20px;
  background: white;
}

.payment-info-title {
  h4 {
    margin: 0 0 10px 0;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
  }
}

.further-payment {
  margin-bottom: 12px;
  background-color: #000;
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  opacity: 0.9;
  text-align: center;
}

.button {
  max-width: 340px;
  height: 48px;
  cursor: pointer;
}
.view-cart {
  position: relative;
  top: 0;
}

.payment-info-method {
  display: flex;
  align-items: center;
}
.payment-info-choose {
  input {
    width: 15px;
    vertical-align: middle;
    margin: 0 10px 5px 0;
    cursor: pointer;
  }
  label {
    cursor: pointer;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
  }
}
hr {
  border: none;
  border-top: 2px solid #f8f8f8;
  box-sizing: border-box;
}

.payment-info-contacts {
  input {
    max-width: 290px;
    border-radius: 0;
    height: 48px;
    border: 1px solid #ffffff;
    background: #f8f8f8;
  }
  input::placeholder {
    color: #9c9c9c;
  }
  span {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
  }
}
.payment-info-date {
  display: flex;
  input {
    max-width: 130px;
  }

  div {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}
.payment-info-total-price {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.payment-errors {
  height: 20px;
  max-width: 310px;
  .errors {
    color: rgb(201, 31, 31);
    font-size: 11px;
  }
}

.errors-card {
  height: 20px;
  max-width: 310px;
  color: rgb(201, 31, 31);
  font-size: 11px;
}

.payment-cart-btn {
  max-height: 10%;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;

  button {
    max-width: 340px;
    height: 48px;
    cursor: pointer;
  }
}

.further {
  margin-bottom: 12px;
  background-color: #000;
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  opacity: 0.9;
  text-align: center;
}

.view-cart {
  border: 0;
  background: #f8f8f8;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #121212;
  opacity: 0.9;
}

.payment-select-country {
  margin-bottom: 20px;
  padding-left: 8px;
  width: 300px;
  border-radius: 0;
  height: 48px;
  border: 1px solid #ffffff;
  background: #f8f8f8;
}
option {
  color: #121212;
}
.color {
  color: #9c9c9c;
}
.payment-close {
  position: relative;
  bottom: 60px;
  left: 100px;
  z-index: 1;
  cursor: pointer;
}
